html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #333;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin: 0;
}

.main-wrapper {  
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: opacity 500ms linear;
}

/***********************
 * Top row of page
 ***********************/
#top-section {
  flex: 1 1 100px;
}

#weather-comp {
  display: none;
  font-size: .9rem;
  text-align: center;
  max-width: 72px;
  min-height: 89px;
  border-radius: 7px;
  color: black;
  margin: 2px 0 5px 5px;
  background-color: rgba(255,255,255,0.45);
  font-family: cursive;
  padding: .7rem;
  float: left;
}

/***********************
 * Middle row of page
 ***********************/
#center-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2 1 auto;
  //text-shadow: 0 0 300px rgba(0, 0, 0, 1);
}

#center-section .center {
  display: none;
}

#time {
  min-height: 160px;
  font-size: 10rem;
  color: #fff;
  margin: 0;
}
#date {
  min-height: 32px;
  font-size: 2rem;
  color: #fff;
  margin: 0;
}

#greeting {
  font-size: 3rem;
  line-height: 1;
  color: #fff;
  display: inline-block;
}

/***********************
 * Bottom row of page
 ***********************/
#bottom-section {
  width: 100%;  
  flex: 1 1 100px;
  text-align: center;
  color: #fff;
}

#bottom-section p {
  margin: 0;
}

#bottom-section .left,
#bottom-section .center,
#bottom-section .right {
  border-radius: 7px;
}

#bottom-section .left {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 1.3rem;
  font-family: 'Amatic SC', cursive;
  line-height: 1.3;
  min-width: 150px;
  margin: 0 0 5px 5px;
  padding: .5rem 1rem;
  background-color: rgba(0,0,0,0.48);
}

#bottom-section .center {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  font-size: 1rem;
  line-height: 1.15;
  width: 50%;
  margin: 0 0 5px -25%;
}

#quote>div {
  display: inline-block;
}

#quoteText {
  font-size: 1.5rem;
  padding: .75rem;
  text-shadow: 0 0 300px rgba(0, 0, 0, 1);
}

#quoteAuthor {
  font-size: 0.875rem;
  text-align: center;
}

#forismatic {
  font-size: .75rem;
  font-weight: 400;
  padding: .5rem;
}

#bottom-section .right {
  position: absolute;
  right: 0;
  bottom: 0;
}

#bottom-section a:link,
#bottom-section a:visited {
  color: #fff;
  text-decoration: none;
}

#bottom-section a:hover,
#bottom-section a:active {
  color: #fff;
  text-decoration: underline;
}
#bottom-section span{
  display: block;
}

/************************
* to-do list (abhi_hk95)
*************************/
#toto{
  width: 250px;
  background-color: rgba(0,0,0,0.66);
  margin: 0px 5px 5px 0;
  float: right;
}
#toto li{
  background:rgba(0,0,0,0.48);
  height: 40px;
  line-height: 40px;
  color: #fff;
}
#toto .fa-pencil{
  float: right;
  padding-right: 10px;
}

#toto span{
  background:#e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0px;
  display: inline-block;
  transition: 0.4s linear;
  opacity: 0;
}

#toto li:hover span{
  width: 40px;
  opacity: 1;
}

#toto input{
  font-size: 18px;
  background:rgba(0,0,0,0.6);
  width: 100%;
  padding: 10px 10px 10px 20px;
  box-sizing: border-box;
  color: #2980b9;
  border:3px solid rgba(0,0,0,0);
  transition: 0.3s linear;
}
#toto input:focus{
  background:white;
  border: 3px solid #2980b9;
  outline:none;

}
#toto ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
#toto .completed{
  color: gray;
  text-decoration: line-through;
}
/*******************************
* end of to-do list (abhi_hk95)
********************************/

/*******************************
* greeting wrapper (8thday)
********************************/

.start-page {
  position: absolute;
  top: 0;
  color: #fff;
  height: 100vh;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 1s linear;
}

.greeting {
  font-size: 3rem;
}

#name {
  color: #fff;
  font-size: 3rem;
  text-align: center;
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #fff;
}

#name:focus {
  outline: 0;
}

.greeting-msg {
  height: 1rem;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.greeting-msg a:link,
.greeting-msg a:visited {
  color: #fff;
}

.greeting-msg a:hover,
.greeting-msg a:active {
  text-decoration: none;
}

#greeting>span:focus {
  outline: 0;
}

.editName {
  border-bottom: 3px solid #fff;
  cursor: auto;
  background-color: transparent;
}

/**********************************
* end of greeting wrapper (8thday)
***********************************/


/**********************************
* utility classes (8thday)
***********************************/
.hidden {
  visibility: hidden;
  opacity: 0;
}