body {
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100vh;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

#weather-comp {
  font-size: .9rem;
  text-align: center;
  max-width: 50px;
  border-radius: 7px;
  color: black;
  margin: 2px 0 5px 5px;
  background-color: rgba(255,255,255,0.45);
  font-family: cursive;
  font-weight: 1.5rem;
  padding: .7rem;
  float: left;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2 1 auto;
}

#time {
  min-height: 160px;
  font-size: 10rem;
  color: #fff;
  margin: 0;
}
#date {
  min-height: 32px;
  font-size: 2rem;
  color: #fff;
  margin: 0;
}

#greeting {
  font-size: 3rem;
  line-height: 1;
  color: #fff;
  display: inline-block;
}

.page-footer {
  float: left;
  text-align: center;
  max-width: 250px;
  font-size: 1.3rem;
  border-radius: 7px;
  font-family: 'Amatic SC', cursive;
  line-height: 1.3;
  margin: 0px 0px 5px 5px;
  color: #fff;
  padding: 0.5rem;
  background-color: rgba(0,0,0,0.48);
}

.page-footer a:link,
.page-footer a:visited {
  color: #fff;
  text-decoration: none;
}

.page-footer a:hover,
.page-footer a:active {
  color: #fff;
  text-decoration: underline;
}
.page-footer span{
  display: block;
}
